body {
  position: relative;
  margin: 0;
  min-height: 100vh; /* Asegura que el fondo cubra toda la pantalla */
  /*overflow: hidden;*/
  color: white;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
      to left,
      rgba(175, 126, 10, 0),
      rgba(51, 29, 1, 0.353)
    ),
    url(resources/bkg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

.nav {
  min-width: 100vh;
  height: 50px;
  display: flex;
  background: linear-gradient(
    to right,
    rgba(51, 29, 1, 0.563),
    rgba(51, 29, 1, 0.238)
  );
  align-items: center;
  justify-content: right;
}
.nav a {
  margin-right: 30px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-weight: 700;
}
.nav .search-bar {
  margin-right: 30px;
  background: rgba(255, 255, 254, 0.685);
  padding: 7px 20px 7px 20px;
  border-radius: 15px;
  border-style: none;
  display: flex;
  align-items: center;
}
.search-bar .keywords {
  border: none;
  background: transparent;
  outline: none;
  min-width: 300px;
  color: rgba(51, 29, 1, 0.778);
  font-weight: 550;
}

.search-icon {
  max-width: 15px;
}

.search-bar .button {
  padding: 5px;
  min-width: 55px;
  border-style: none;
  border-radius: 5px;
  background-color: rgba(51, 29, 1, 0.558);
  color: white;
  font-weight: 500;
  margin-left: 10px;
}

.home-container {
  width: 37%;
  margin-left: 50px;
}

.home-container h1 {
  font-size: 70px;
  color: white;
}

.home-container p {
  font-size: 24px;
  font-weight: 500;
  color: white;
}

.home-container input {
  padding: 10px;
  border-style: none;
  border-radius: 5px;
  background-color: rgba(51, 29, 1, 0.558);
  margin-top: 20px;
  color: white;
  font-weight: 500;
}

.main-container {
  width: 100%;
  display: flex;
  margin-left: 20px;
  margin-top: 50px;
}

.main-container .social-media {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-container .social-media img {
  max-width: 30px;
  margin-top: 15px;
}

.about-container {
  width: 80%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}
.about-container .title {
  font-size: 70px;
}

.about-container p {
  background: rgba(51, 29, 1, 0.238);
  padding: 2%;
  font-size: 24px;
}

.team-container p {
  background: none;
}
.team-container {
  background: rgba(51, 29, 1, 0.238);
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-container h1 {
  margin: 20px;
}
.member span {
  background: rgba(51, 29, 1, 0.438);
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}
